  {{#if url}}
    <a href="{{url}}" title="{{fileName}}:{{line}}">
      <i class="material-icons gs-code-icon">code</i>
    </a>
  {{else}}
    <i class="material-icons gs-code-icon" title="{{fileName}}:{{line}}">code</i>
  {{/if}}
