  {{#if url}}
    <a href="{{url}}">
      <md-tooltip direction="bottom">
        {{fileName}}:{{line}}
      </md-tooltip>
      <md-icon class="gs-code-link__icon">code</md-icon>
    </a>
  {{else}}
    <md-icon class="gs-code-link__icon" title="{{fileName}}:{{line}}">code</md-icon>
  {{/if}}
