{{#with comment}}
  {{#each tags}}
    {{#ifCond tagName "==" "deprecated"}}
      <aside class="gs-comment__deprecated md-body-1" layout="row">
        <md-icon>warning</md-icon>
        <span class="gs-comment__deprecated-text">deprecated:&nbsp;</span>
        <div flex>
          {{#markdown}}{{{text}}}{{/markdown}}
        </div>
      </aside>
    {{/ifCond}}
  {{/each}}

  {{#if hasVisibleComponent}}
    {{#if shortText}}
      {{#if text}}
        <div class="md-body-2">
          {{#markdown}}{{{shortText}}}{{/markdown}}
        </div>
      {{else}}
        <div class="md-body-1">
          {{#markdown}}{{{shortText}}}{{/markdown}}
        </div>
      {{/if}}
    {{/if}}
    {{#if text}}
      <div class="md-body-1">{{#markdown}}{{{text}}}{{/markdown}}</div>
    {{/if}}
  {{/if}}
{{/with}}
