{{#if groups}}
  <header>
    <h2 class="md-display-1">Index</h2>
  </header>
  <section>
    {{#each groups}}
      <section class="gs-table">
        <h3 class="md-headline">{{title}}</h3>
        <section>
          {{#each children}}
          <div>
            <a href="{{relativeURL url}}">
              {{#if name}}{{{wbr name}}}{{else}}<em>{{{wbr kindString}}}</em>{{/if}}
            </a>
          </div>
          {{/each}}
        </section>
      </section>
    {{/each}}
  </section>
{{/if}}
