<div class="gs-navigation__root" layout="column">
  {{#if isVisible}}
    {{#if isLabel}}
    {{else}}{{#if isGlobals}}
        <a class="gs-navigation__item gs-navigation__globals"
            href="{{relativeURL url}}">
          {{title}}
        </a>
    {{else}}
      {{#if isInPath}}
        <a class="gs-navigation__item gs-navigation__member {{cssClaasses}}" href="{{relativeURL url}}">
          {{title}}
        </a>
        {{#if children}}
          {{#each children}}
            {{> navigation}}
          {{/each}}
        {{/if}}
      {{else}}
        <a class="gs-navigation__item gs-navigation__member {{cssClaasses}}" href="{{relativeURL url}}">
          {{title}}
        </a>
      {{/if}}
    {{/if}}{{/if}}
  {{/if}}
</div>
