{{#if this}}
  {{#if reflection}}
    {{#compact}}
      <a href="{{relativeURL reflection.url}}" class="tsd-signature-type">
        {{reflection.name}}
      </a>
      {{#if typeArguments}}
        <span class="tsd-signature-symbol">&lt;</span>

        {{#each typeArguments}}
          {{#if @index}}
            <span class="tsd-signature-symbol">, </span>
          {{/if}}{{> type}}
        {{/each}}

        <span class="tsd-signature-symbol">&gt;</span>
      {{/if}}
      {{#if isArray}}<span class="tsd-signature-symbol">[]</span>{{/if}}
    {{/compact}}
  {{else}}
    {{#if types}}
      {{#each types}}
        {{#if @index}}
          <span class="tsd-signature-symbol"> | </span>
        {{/if}}{{> type}}
      {{/each}}
    {{else}}
      {{#if elements}}
        {{#compact}}
          <span class="tsd-signature-symbol">[</span>

          {{#each elements}}
            {{#if @index}}
              <span class="tsd-signature-symbol">, </span>
            {{/if}}{{> type}}
          {{/each}}

          <span class="tsd-signature-symbol">]</span>
        {{/compact}}
      {{else}}
        {{#compact}}
          <span>
            {{#if name}}
              {{name}}
            {{else}}{{#if value}}
              "{{value}}"
            {{!-- Try to print out the function params --}}
            {{else}}{{#if declaration.signatures}}
              {{#each declaration.signatures}}
                {{#compact}}
                  (
                  {{#each parameters}}
                    {{> gs.signature.parameter}}
                  {{/each}}
                  ) =&gt; {{#with type}}{{>type}}{{/with}}
                {{/compact}}
              {{/each}}
            {{else}}{{#if declaration.indexSignature}}
              {{#compact}}
                {
                  {{#with declaration.indexSignature}}
                    [
                      {{#each parameters}}
                        {{name}}:&nbsp;
                        {{#with type}}{{> type}}{{/with}}
                      {{/each}}
                    ]:&nbsp;
                    {{#with type}}{{> type}}{{/with}}
                  {{/with}}
                }
              {{/compact}}
            {{else}}
              [ELSE]
              {{this}}
            {{/if}}{{/if}}{{/if}}{{/if}}
          </span>
          {{#if typeArguments}}
            <span class="tsd-signature-symbol">&lt;</span>

            {{#each typeArguments}}
              {{#if @index}}
                <span class="tsd-signature-symbol">, </span>
              {{/if}}{{> type}}
            {{/each}}

            <span class="tsd-signature-symbol">&gt;</span>
          {{/if}}
          {{#if isArray}}<span class="tsd-signature-symbol">[]</span>{{/if}}
        {{/compact}}
      {{/if}}
    {{/if}}
  {{/if}}
{{else}}
    <span class="tsd-signature-type">void</span>
{{/if}}
