<!DOCTYPE html>
<html lang="en">
<head>
  <base href=".">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#607D8B">

  <title>{{name}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

  <!-- Angular Material -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{relativeURL "assets/css/breadcrumb.css"}}">
  <link rel="stylesheet" href="{{relativeURL "assets/css/default.css"}}">
  <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
  <link rel="stylesheet" href="{{relativeURL "assets/css/navigation.css"}}">
</head>
<body ng-app="DocApp" layout="column">
  <section class="gs-default__header" layout="column">
    <header>
      <h1 class="gs-default__project-name">
        <a href="{{relativeURL "index.html"}}">{{project.name}}</a>
      </h1>
    </header>
    <div>{{#with model}}{{> breadcrumb}}{{/with}}</div>
  </section>

  <section flex layout="row">
    <md-content class="gs-default__navigation-bar">
      <nav>
        {{#each navigation.children}}
          {{> navigation}}
        {{/each}}
      </nav>
    </md-content>
    <md-content class="gs-default__content" flex>
      {{{contents}}}
    </md-content>
  </section>

  <script type="text/javascript">
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider) {
          $mdIconProvider
              .defaultFontSet('material-icons');
        });
  </script>
</body>
</html>
